/* Registration Page CSS */
.register-form {
    border: 1px solid #b39898;
    width: 480px;
    padding: 30px 40px;
    margin: 0 auto;
}
.input-field {
    display: block;
    margin: 20px auto 0 auto;
    padding: 5px;
    border: 1px solid #b39898;
    border-radius: 5px;
}

/* Login Page CSS */
.login{
    border: 1px solid #b39898;
    width: 480px;
    padding: 150px 40px;
    margin: 0 auto;
    border-radius: 5px;
}